<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Обо мне</h1>
    <br></br>
    <p>Меня зовут Сергей. Я учусь на разрабочика. Идет 4-ый месяц обучения.
        Реализую свою давнюю мечту. Сейчас работаю мнеджером по продажам в IT-компании.
    </p>
    <br></br>
    <button><a href="/base">На главную</a></button>>
    <br></br>
    <img src="https://ba-company.ru/upload/medialibrary/311/311ffce12c1525717fdc6f0fc9ff299c.png"></img>
</body>

</html>