{%  extends 'base.html' %}
{% block content%}
<ol><u>Мой план состоит из нескольких частей:</u></ol>
    <ol><b>Изучить основы:</b></ol>
         <li>Алгоритмы и структуры данных </li>
         <li>ООП</li>
         <li>Базы данных</li>
         <li>Компьютерные сети</li>
    <ol><b>Изучить Python:</b></ol>
         <li>Основы(синтаксис, типизацию и т.д) </li>
         <li>Популярные фреймворки(Django, Flask)</li>
         <li>Работа с модулями</li>
    <ol><b>Написать pet-проект:</b></ol>
         <li>Попробовать зайти с ним куда-нибудь </li>
         <br></br>
         <button><a href = "/">На главную</a></button>>       
{% endblock %}

