<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
</head>

<body>
     <ol><u>Мой план состоит из нескольких частей:</u></ol>
     <ol><b>Изучить основы:</b></ol>
     <li>Алгоритмы и структуры данных </li>
     <li>ООП</li>
     <li>Базы данных</li>
     <li>Компьютерные сети</li>
     <ol><b>Изучить Python:</b></ol>
     <li>Основы(синтаксис, типизацию и т.д) </li>
     <li>Популярные фреймворки(Django, Flask)</li>
     <li>Linux</li>
     <li>Асинхронное програмирование</li>
     <li>Работа с модулями</li>
     <ol><b>Написать pet-проект:</b></ol>
     <li>Попробовать зайти с ним куда-нибудь </li>
     <br></br>
     <button><a href="/base">На главную</a></button>>
</body>

</html>